img {
    position: absolute;
    top: -200px;
    height: 1200px;
}

body {
    margin: 0;
}

aside {
    height: 800px;
    margin: 0;
    padding: 0;
}

#logo{
    font-family: 'Arial Rounded MT Bold';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 46px;
    color: #3F57FF;
}

main {
    box-sizing: border-box;
    position: absolute;
    width: 400px;
    height: 1080px;
    left: 920px;
    top: 0px;
    background-color: white;
}

#login {
    position: absolute;
    width: 109px;
    height: 60px;
    left: 230px;
    top: 90px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 60px;
    color: #707070;
}

#comment {
    position: absolute;
    width: 400px;
    height: 38px;
    left: 65px;
    top: 160px;
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 38px;
    color: #707070;
}

#loginform {
    position: absolute;
    width: 400px;
    height: 500px;
    top: 240px;
    left: 20px;
}

#id {
    position: absolute;
    width: 100px;
    left: 1px;
    top: 1px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 38px;
    color: #707070;
}

#inid {
    box-sizing: border-box;
    width: 500px;
    height: 40px;
    position: absolute;
    left: 0px;
    top: 60px;
    font-size: 25px;
    color: black;
    ;
    background: #FFFFFF;
    opacity: 0.59;
    border: 1px solid #707070;
    border-radius: 15px;
}

#pw {
    position: absolute;
    width: 100px;
    left: 1px;
    top: 90px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 38px;
    color: #707070;
}

#password {
    box-sizing: border-box;
    width: 500px;
    height: 40px;
    position: absolute;
    left: 0px;
    top: 150px;
    font-size: 25px;
    color: black;
    ;
    background: #FFFFFF;
    opacity: 0.59;
    border: 1px solid #707070;
    border-radius: 15px;
}

#cb {
    display: inline-block;
    position: absolute;
    left: 0px;
    top: 210px;
}

#checkbox {
    display: inline-block;
    position: absolute;
    margin: 0px;
    width: 80px;
    height: 10px;
    left: 23px;
    top: 202px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 38px;
}

button {
    position: absolute;
    top: 450px;
    left: 45px;
    border: 0px transparent;
    background-color: transparent;
}

button img {
    width: 401px;
    height: 47px;
}

#sign {
    display: inline-block;
    position: absolute;
    left: 117px;
    top: 301px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #707070;
}

#asign {
    text-decoration: none;
    display: inline-block;
    position: absolute;
    left: 249px;
    top: 317px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #3F57FF;
}